.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $color-dark-grey;
    color: $color-default-white;
    z-index: 10000;

    a {
        color: $color-default-white;

        @include hover-focus {
            color: $color-gold;
        }
    }

    line-height: 100%;

    &.open {
        .hamb {
            background-image: url("../img/svg/icon-close.svg");
        }

        .nav {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.logo--header {
    margin-right: 30px;

    @include vp-1023 {
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.header__inner {
    display: flex;
    align-items: center;

    @include vp-1023 {
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    text-align: center;
    margin-left: auto;
    font-size: 16px;
    transition: opacity $trans-default;

    @include vp-1023 {
        opacity: 0;
        pointer-events: none;
        padding-top: 50px;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 97px;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: $color-dark-grey;
        text-align: center;

        font-size: 25px;
    }
}

.main-menu {
    display: flex;
    align-items: center;

    @include vp-1023 {
        flex-direction: column;
        margin-bottom: 50px;
    }

    li {
        margin-right: 56px;

        @include vp-1023 {
            margin-right: 0;

            margin-bottom: 40px;
        }

        &:last-child {
            margin-right: 0;

            @include vp-1023 {
                margin-bottom: 0;
            }
        }
    }
}

.header__contact {
    display: flex;
    align-items: center;
    margin-left: 120px;

    @include vp-1279 {
        margin-left: 50px;
    }

    @include vp-1023 {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    a {
        display: flex;
        align-items: center;
    }
}

.header__phone {
    margin-left: 30px;
    margin-right: 70px;

    @include vp-1023 {
        margin-top: 40px;
        margin-bottom: 25px;
        margin-left: 0;
        margin-right: 0;
    }
}

.header__email {
    display: flex;
    align-items: center;

    @include vp-1279 {
        font-size: 0;
    }

    @include vp-1023 {
        font-size: 25px;
    }

    svg {
        margin-right: 10px;

        @include vp-1023 {
            display: none;
        }
    }
}

.header__whatsapp svg {
    @include vp-1023 {
        width: 30px;
        height: 30px;
    }
}

.hamb {
    display: none;
    width: 116px;
    height: 17px;
    border: none;
    background-color: transparent;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0 center;
    background-image: url("../img/svg/icon-hamb.svg");
    flex-shrink: 0;

    @include vp-1023 {
        display: block;
    }
}

.mobile-header-phone {
    display: none;

    @include vp-1023 {
        display: block;
    }

    @include vp-639 {
        font-size: 14px;
    }
}